.rbox {
    border-radius: 15px;
    border: 2px solid #8AC007;
    padding: 10px;
}

.rbox.fav {
    border-color: #da1652a6;
    box-shadow: 0 0 17px;
}

.btn.fav {
    padding: 6px 20px;
}

.btn.fav .fa-heart {
    color: #da1652a6;
}

.watermark {
    border-radius: 3px;
    background: #3ab174;
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 400;
    opacity: 0.5;
    padding: 10px 10px;
    position: absolute;
    right: 20px;
    top: 5px;
}

.feed {
    max-height: 10em;
    overflow: hidden;
    width: 174px;
}

