<template>
	<require from="common/dateFormat"></require>
	<form submit.delegate='save()'>
		<div class="form-group">
    		<label for="title">Title</label>
    		<input type="text" value.bind="job.title & validate"
           		class="form-control" id="title" placeholder="Title">
  		</div>
  		<div class="form-group">
    		<label for="description">Description</label>
    		<textarea value.bind="job.description"
           		class="form-control" id="description" placeholder="Description" rows="5"></textarea>
  		</div>
  		<div class="form-group">
  			<label for="needDate">Need Date</label>
  			<input type="text" id="needDate" 
        value.bind="job.needDate | dateFormat:'MM/DD/YYYY' & updateTrigger:'blur'" placeholder="Need Date" />
  		</div>
		<div class="form-group">
		  <label for="jobType">Job Type: </label>
		  <label repeat.for="jobType of jobTypes">
			  <!--Either ref value or $event.target can be used to pass element to view model function-->
			  <input type="radio" name="jobType" value.bind="jobType" checked.bind="$parent.job.jobType" change.delegate="inputChanged($event.target)"/>
			${jobType}
		  </label>
		</div>
		<div class="form-group">
		  <label>Job Skills:</label>
		  <label repeat.for="jobSkill of jobSkills">
			  <!--Either ref value or $event.target can be used to pass element to view model function-->
			  <input type="checkbox" value.bind="jobSkill" checked.bind="$parent.job.jobSkills" change.delegate="inputChanged($event.target)" />
			  ${jobSkill}
		  </label>
		</div>
  		<div class="form-group">
  			<label for="city">City</label>
  			<input type="text" id="city" value.bind="job.location.city" placeholder="City" />
  		</div>
  		<div class="form-group">
			<label for="state">State</label>
			<!--Either ref value or $event.target can be used to pass element to view model function-->
			<select id="state" value.bind="job.location.state" ref="stateSelect" change.delegate="inputChanged(stateSelect)">
			  <option>Select State</option>
			  <option repeat.for="state of states" value.bind="state.abbreviation">
				  ${state.name} (${state.abbreviation})
			  </option>
			</select>
  		</div>
  		<button type="submit" class="btn btn-primary">Save</button>
		<ul if.bind="valController.errors">
			<li repeat.for="error of valController.errors" style="color:red;">
				${error.message}
			</li>
		</ul>
	</form>
</template>